<a href="https://colab.research.google.com/github/NatCastro28/Class2023/blob/main/TallerDplyr%26PandasACTUALIZADO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [72]:
!pip install rpy2==3.5.1

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: rpy2==3.5.1 in /usr/local/lib/python3.9/dist-packages (3.5.1)
Requirement already satisfied: pytz in /usr/local/lib/python3.9/dist-packages (from rpy2==3.5.1) (2022.7.1)
Requirement already satisfied: cffi>=1.10.0 in /usr/local/lib/python3.9/dist-packages (from rpy2==3.5.1) (1.15.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.9/dist-packages (from rpy2==3.5.1) (3.1.2)
Requirement already satisfied: tzlocal in /usr/local/lib/python3.9/dist-packages (from rpy2==3.5.1) (4.3)
Requirement already satisfied: pycparser in /usr/local/lib/python3.9/dist-packages (from cffi>=1.10.0->rpy2==3.5.1) (2.21)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.9/dist-packages (from jinja2->rpy2==3.5.1) (2.1.2)
Requirement already satisfied: pytz-deprecation-shim in /usr/local/lib/python3.9/dist-packages (from tzlocal->rpy2==3.5.1) (0.1.0.post0)
Requirement already satisfied: tzdata in /usr/local/lib/python3.9/dist-packages (from pytz-deprecation-shim->tzlocal->rpy2==3.5.1) (2023.2)

In [71]:
# activate R magic
%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

Este taller permitirÃ¡ poner en prÃ¡ctica el uso de dplyr en R, pandas y numpy en Python. Para ello, vamos a crear un conjunto de datos ficticio que contendrÃ¡ informaciÃ³n sobre ventas de productos en diferentes regiones y periodos de tiempo.

#CreaciÃ³n del dataset

Para crear nuestro dataset, vamos a utilizar la funciÃ³n data.frame() en R y pd.DataFrame() en Python. Para ello, vamos a crear una lista con las variables que queremos incluir en nuestro dataset y luego convertiremos esa lista en un data frame.

In [ ]:
%%R
library("dplyr")

WARNING:rpy2.rinterface_lib.callbacks:R[write to console]:
Attaching package: â€˜dplyrâ€™


WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: The following objects are masked from â€˜package:statsâ€™:

    filter, lag


WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: The following objects are masked from â€˜package:baseâ€™:

    intersect, setdiff, setequal, union

In [ ]:
%%R

# Crear lista con las variables del dataset
ventas <- list(
  producto = c("Producto A", "Producto B", "Producto C", "Producto A", "Producto B", "Producto C"),
  region = c("Norte", "Norte", "Norte", "Sur", "Sur", "Sur"),
  periodo = c("Enero", "Enero", "Enero", "Febrero", "Febrero", "Febrero"),
  ventas = c(100, 50, 75, 200, 150, 100)
)

# Convertir lista en data frame
ventas_df <- data.frame(ventas)

En Python:

In [ ]:
import pandas as pd

# Crear lista con las variables del dataset
ventas = {
    "producto": ["Producto A", "Producto B", "Producto C", "Producto A", "Producto B", "Producto C"],
    "region": ["Norte", "Norte", "Norte", "Sur", "Sur", "Sur"],
    "periodo": ["Enero", "Enero", "Enero", "Febrero", "Febrero", "Febrero"],
    "ventas": [100, 50, 75, 200, 150, 100]
}

# Convertir lista en data frame
ventas_df = pd.DataFrame(ventas)

Una vez que tenemos nuestro dataset, podemos proceder a realizar diferentes tareas utilizando dplyr en R y pandas y numpy en Python.

#Taller

A continuaciÃ³n, presentamos un taller de 10 (o mÃ¡s ðŸ”¥) puntos que nos permitirÃ¡ poner en prÃ¡ctica el uso de dplyr en R y pandas y numpy en Python con nuestro dataset de ventas.

1. Carga los datos y visualiza el dataset. para cada dataset vamos a imprimir el encabezado para verificar que estÃ¡ bien cargado. 

Ãšnicamente en python vamos a aplicar la orden describe()para ver un recuento estadÃ­stico y entender como se estÃ¡n comportando los datos.

In [ ]:
%%R
#Your Code here guys! --->

In [ ]:
#Your Code here guys! --->

2. Filtra el dataset para obtener las ventas de "Producto A".

In [ ]:
%%R
#Your Code here guys! --->

In [ ]:
#Your Code here guys! --->

3. Agrupa el dataset por regiÃ³n y periodo y calcula la media de las ventas.

In [ ]:
%%R
#Your Code here guys! --->

In [ ]:
#Your Code here guys! --->

4. Calcula la suma total de las ventas para cada periodo.

In [ ]:
%%R
#Your Code here guys! --->

In [ ]:
#Your Code here guys! --->

5. Utiliza la funciÃ³n mutate() en R y assign() en Python para crear una nueva variable que calcule la diferencia entre las ventas de cada producto y la media de las ventas de ese producto.

In [ ]:
%%R
#Your Code here guys! --->

In [ ]:
#Your Code here guys! --->

6 .Utiliza la funciÃ³n arrange() en R y sort_values() en Python para ordenar el dataset por ventas de mayor a menor.

In [ ]:
%%R
#Your Code here guys! --->

In [ ]:
#Your Code here guys! --->

7. Utiliza la funciÃ³n select() en R y loc[] en Python para seleccionar las variables "producto" y "ventas".

In [ ]:
%%R
#Your Code here guys! --->

In [ ]:
#Your Code here guys! --->

8. Utiliza la funciÃ³n filter() en R y query() en Python para filtrar el dataset para obtener las ventas de "Producto A" en la regiÃ³n Norte.

In [ ]:
%%R
#Your Code here guys! --->

In [ ]:
#Your Code here guys! --->

9. Utiliza la funciÃ³n summarise() en R y agg() en Python para calcular la suma total de las ventas de "Producto A".

In [ ]:
%%R
#Your Code here guys! --->

In [ ]:
#Your Code here guys! --->

10. Utiliza la funciÃ³n group_by() en R y groupby()

In [ ]:
%%R
#Your Code here guys! --->

In [ ]:
#Your Code here guys! --->

Bien, ahora juguemos con datos propios.

1. Vamos a cargar 2 archivos, por un lado el documento CSV que tienen en sus repositorios de github. y ademÃ¡s vamos a cargar la base de datos superstore que tendrÃ¡n el siguiente link. 

https://docs.google.com/spreadsheets/d/1r2ee4kEpcUJBUscoDQd0gImOvWb_iECj/edit?usp=sharing&ouid=106132101569136404581&rtpof=true&sd=true

Usando el primer set de datos vamos a trabajar Ãºnicamente en R

1. vamos a seleccionar solo las columnas Gender, Age y satisfaction conformando un nuevo datagrame llamado seleccion.

In [ ]:
%%R
#Your Code here guys! --->

2. Ahora usando el nuevo df que hemos creado vamos a filtrar solo las filas donde la satisfacciÃ³n es "satisfied" y a guardarlo en un df3:

In [ ]:
%%R
#Your Code here guys! --->

3. vamos a agrupar los datos por gÃ©nero y calcular la edad promedio y a guardarlo en un df4:

In [ ]:
%%R
#Your Code here guys! --->

4. vamos a ordenar los resultados de seleccion por edad de mayor a menor, despuÃ©s vamos a agruparlos por gÃ©nero y vamos a averiguar la sumatoria de cada gÃ©nero para cada grupo los satisfechos y los insatisfechos. Este nuevo conteo lo vamos a guardar en una columna nueva llamada a y esto lo guardaremos en un nuevo df llamado df5

In [ ]:
%%R
#Your Code here guys! --->

Muy bien, ya hemos logrado trabajar sobre la primera base de datos, ahora vamos a cargar la segunda base de datos, para ello usaremos el acceso a google drive que nos brinda google colab.

In [ ]:
#Your Code here guys! --->

Perfecto, como ya tenemos nuestra base de datos montada sobre python vamos a hacer un anÃ¡lisis descriptivo de la base de datos usando .describe() asÃ­ podremos ver cÃ³mo se comporta mi base de datos.

In [ ]:
#Your Code here guys! --->

Ahora vamos a importar las librerÃ­as seaborn y matplotlib.

Muy bien, ahora vamos a pasar esta base de datos

In [ ]:
%%R
#Your Code here guys! --->

Vamos a visualizar los datos del dataframe para la variable categorÃ­a en el eje X y ventas en el eje Y en un grÃ¡fico de boxplot.

#El taller va desde esta parte de aquÃ­!!!

Ahora hagÃ¡mos lo mismo en R.

Primero importemos la base de datos al entorno de python

In [83]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [84]:
from google.colab import drive
drive.mount('/content/drive')

from pandas.io.excel import read_excel
url = '/content/drive/MyDrive/Sample - Superstore.xlsx'
df = read_excel(url)
df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,Columna1,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [87]:
Library(readr)
url = '/content/drive/MyDrive/Sample - Superstore.xlsx'

df<- read_cvs(url)

NameError: ignored

Ahora vamos a graficar resultados.

In [ ]:
%%R

ggplot(  , aes(   )) +

Pregunta, quÃ© tan comprensible es la grÃ¡fica? se puede interpretar los cuartÃ­les aquÃ­?. De no ser asÃ­, vamos a eliminar los valores extremos para intentar obtener una mejor visual de los grÃ¡ficos. 

Para eso vamos a retirar los valores extremos calculando los cuartiles y el mÃ©todo IQR.

In [ ]:
# Calcular lÃ­mites para la variable 'Category' usando el mÃ©todo IQR
Q1 =    .quantile(0.25)
Q3 =    .quantile(0.75)
IQR = Q3 - Q1
lower_limit = 
upper_limit = 

# Eliminar outliers
df = df[ > lower_limit) & (  < upper_limit)]
sns.boxplot()

In [ ]:
%%R

# Calcular lÃ­mites para la variable 'Category' usando el mÃ©todo IQR
Q1 <- quantile( )
Q3 <- quantile( )
IQR <- Q3 - Q1
lower_limit <- 
upper_limit <- 

# Eliminar outliers
df <- df[df$Sales > lower_limit & df$Sales < upper_limit, ]

# Crear box plot usando ggplot2
ggplot(, aes( )) +

Ahora la pregunta es... dentro de los cuartiles de ventas, cuÃ¡l es la categorÃ­a que ha vendido menos valor monetario?

A. Furniture.
B. Office Supplies.
C. Technology.

In [ ]:
%%R
# Encontrar la region que mÃ¡s vendiÃ³
top_region <- df %>%
  group_by() %>%
  summarise() %>%
  arrange() %>%
  slice(1)

# Crear un plot
ggplot() +
  geom  +
  labs(title = "", x = "", y = "")

In [ ]:
# Encontrar la region que mÃ¡s vendiÃ³
top_region = df.groupby('')[''].sum().sort_values(ascending= ).index[0]


# Crear un plot

usando la misma base de datos, crea un cÃ³digo en R y uno en python que: 

1. filtre la informaciÃ³n referente a 'Sean O'Donnell'. 
2. crea un plot que me indique el nombre del producto y el valor que comprÃ³ esta persona

In [ ]:
%%R

# Filtrar informaciÃ³n de "Sean O'Donnell"

In [ ]:
%%R

# Filtrar profits positivos
df_positives = df[df$Profit > 0,]

In [ ]:
%%R
#Grafico

In [ ]:
# Filtrar profits positivos
df_positives = [ [ ] > 0]

In [ ]:
sns.barplot()

A pesar de esto, la legibilidad de los grÃ¡ficos es casi nula por lo que habrÃ¡ que elegir una forma de mostrar a la gerencia los resultados. 

Vamos a organizar los datos para mostrar solamente el top de ciudades con mejores profits.

In [ ]:
%%R

# Ordenar los datos por profit en orden descendente y seleccionar solo las primeras 10 ciudades
df_top_cities = 

# Crear plot
ggplot() +
  geom_col() +
  coord_flip() +
  labs(title = "", x = "", y = "")

In [ ]:
# Seleccionar las 10 ciudades con mayores profits
df_top_cities = df_positives.sort_values(by='', ascending=).head()[['City', 'Profit']]

In [ ]:
# Crear plot
sns.barplot()
plt.title('Ciudades con mayores profits positivos')
plt.xlabel('Ciudad')
plt.ylabel('Profit')
plt.xticks(rotation=90, ha='right', fontsize=8)
plt.tight_layout()
plt.show()

Usando la misma base de datos crea un agrupado por regiones y saca la media de las ventas de cada regiÃ³n. Esta media asignala a una columna nueva de un dataframe llamado mean_sales.

In [ ]:
%%R

mean_sales = df %>%



print(summary(mean_sales))
print(mean_sales)

In [ ]:
# Agrupar por regiones y calcular la media de ventas
mean_sales = 

# Renombrar las columnas del dataframe
mean_sales.columns = ['Region', 'mean_sales']

mean_sales

Ahora vamos a graficar estos datos de forma tal que se genere un grÃ¡fico de disperciÃ³n en el que se creen diferentes formas y colores para cada color, asÃ­ podremos comparar las medias de las ventas de cada regiÃ³n.

Como clave para este ejercicio... para la conformaciÃ³n de las figuras en R deberÃ¡n usar el comando shape= y color= 

Mientras que en python hue=' ', style=' ' podrÃ­an usar los comandos

In [ ]:
# Crear plot
sns.scatterplot(  , hue='', style='')

# Configurar plot
plt.title('RelaciÃ³n entre ventas y profit por regiÃ³n')
plt.xlabel('Ventas')
plt.ylabel('Profit')
plt.show()

In [ ]:
%%R

ggplot(, aes( color = , shape =)) +
  geom_point() +
  labs(title = "RelaciÃ³n entre ventas y profit por regiÃ³n", x = "Ventas", y = "Profit")

Ya para finalizar vamos a tomar la variale ventas y crearemos un registro de ventas por ciudad, en dÃ³nde queremos saber cuÃ¡l es el promedio de ventas para cada ciudad, pero tambiÃ©nq uedremos ver cuÃ¡l es el valor que corresponde al 50% de las ventas (mediana) de cada ciudad... estos valores los vamos a agregar a un dataframe nuevo llamado 'Sales_by_city'

Como tip para lograrlo, en R podremos usar el comando across que generalmente usamos como dplyr::across() y en python despues de haber generado un groupby, simplemente conectaremos una funciÃ³n .agg para implementar una lista con las funciones matemÃ¡ticas que queremos obtener.

In [ ]:
%%R
# Calcular la media, moda y mediana de las ventas por ciudad
sales_by_city = df %>%
  group_by() %>%
  summarise(dplyr::across( , list(mean = , median = )))

# Ver los resultados
sales_by_city

In [ ]:
# Calcular la media, moda y mediana de las ventas por ciudad
sales_by_city = df.groupby()[].agg([ , ])

# Ver los resultados
print(sales_by_city)